<div>
  <div ng-repeat="project in projects">
    <project></project>
  </div>

  <div id="newProject">
    <form class="form-horizontal" ng-submit="createProject()">
      <div class="form-group col-md-12">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Add TODO List
          </button>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="projectName">
        </div>
      </div>
    </form>
  </div>
</div>