<div class="container" style="width:inherit">
  <div class="row">
    <div class="col-md-6">
      <span><i class="fa fa-comment"></i></span>
      <span editable-text="comment.body" e-form="commentForm" buttons="no" onbeforesave="updateComment($data)">
        {{comment.body}}
      </span>
    </span>
    </div>

    <div class="col-md-4 text-right">
      <button class="control-button" ng-controller="CommentsController" ngf-select="addAttachment($files, data)" click="addAttachment()" ng-model="files" ngf-multiple="true">
        <i class="fa fa-paperclip"></i>
      </button>
      <button class="control-button" ng-click="commentForm.$show()" ng-hide="commentForm.$visible">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="control-button" ng-click="deleteComment()">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <!-- <div ng-controller="CommentsController"> -->
    <div ng-repeat="attachment in comment.attachments">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <span><i class="fa fa-cloud-download"></i></span>
          <a ng-href="{{attachment.attachment.url}}" target="_blank">{{attachment.filename}}</a>
          <!-- <img ngf-thumbnail="{{file.attachment}}" width="100px" height="100px"> -->
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>