/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$fa-font-path: "fontawesome/fonts";

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "fontawesome/scss/font-awesome";

body {
  background-image: image_url('cover.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a, span {
  text-decoration: none;
  text-transform: uppercase;
  padding: .75em 0;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover, &:active {
    text-decoration: none;
  };
}

.control-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  // overflow: hidden;
  outline:none;
}

task .control-button {
  color: grey;
  &:hover, &:focus {color: #337ab7}
}


.header {
  background-color: white;
  border-radius: 0;
  position: relative;
  padding-bottom: .8em;
  // overflow: hidden;
  // z-index: 2;
  .account-menu {
    position: absolute;
    z-index: 1;
    top: .75em;
    right: 1.5em;
    .dropdown {
          // z-index: 2;

    }
    .caret {
      top: 45%;
      position: absolute;
    }
    ul.dropdown-menu {
      left: auto;
      right: 0;
      a {
        text-transform: none;
        letter-spacing: normal;
      }
    }
  }
  .branding {
    position: relative;
    margin: .5em;
  }
}

.content {
  width: 100%;
  height: 100%;
  padding: 3em;
  // z-index: 1;
}

.editable-wrap {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  position: relative;
}

project {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border: .2em solid white;
  color: white;

  .project-header {
    padding: .75em .75em .6em;
    border-bottom: .2em solid white;
    .project-name {
      margin-left: .5em;
    }
    input[type="text"] {
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 2px;

      background-color: rgba(255,255,255,0.3);
      border: none;
      color: white;

      &:hover {
        // cursor: text;
      };
      &:active, &:focus {
        // background-color: black;
        background: transparent;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
        color: white;
      };
    };

  };

  .add-task-form {
    padding: .75em .75em .9em;
  }

  .project-body {
    // padding: .75em .75em .9em;
    background-color: white;
    // visibility: hidden;
    task {
      span {
        text-transform: none;
      }
      color: #262628;
      comment {
        a, span {
          font-weight: normal;
          letter-spacing: normal;
          padding-left: .5em;
          font-size: 1em;
          color: grey;
          text-transform: none;
        }
        a:hover {
          color: #337ab7;
        }
      }
    }

  };

  a { color: inherit; }

}

.task-row {
  border-bottom: 1px solid #e7ebea;

  padding: .4em .75em;
  &:first-of-type {padding: .6em .75em .4em;}
  &:last-of-type {
    padding: .4em .75em;
    border-bottom: none;
  }
}

// 1 Поля будут установлены одновременно от каждого края элемента.
// 2 Первое значение устанавливает поля от верхнего и нижнего края, второе — от левого и правого.
// 3 Первое значение задает поле от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края.
// 4 Поочередно устанавливается поля от верхнего, правого, нижнего и левого края.

#newProject {
  border-radius: .5em;
  padding-top: 1em; //find padding in projects and remove here
  padding-left: 2em;
  overflow-y: scroll;
  border: solid white;
  color: white;

  input[type="text"] {
    &:active, &:focus {
      background-color: transparent;
      color: white;
      border: .2em solid white;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 2px;
    };
  };

  button { font-weight: bold; }
}


.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}

.deadline {
  height: 25px;
}

.task-deadline {
  // padding-top: 20px;
  // padding-bottom: 50px;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 0.9em;
  color: orange;
}

.task-completed {
  text-decoration: line-through;
}

.comments-body {
  width:inherit;
  form {
    margin: .5em;
  }
}

// login/sign up modal
.modal-content {
  border-radius: 0px;
}

.nav-tabs.nav-justified {
  background-color: grey;
  .active {
    background-color: white;
  }
  a {
    border-radius: 0px;
    color: white;
    &:hover {
      background-color: #337ab7;
    }
  }

  li a {
    border-radius: 0px;
  }
}

.nav-tabs li {
  width: 50%;
  text-align: center;
}

.modalButtonDiv {
  text-align: center;
  margin-bottom: 20px;
  input {
    width: 100px;
  }
}

.facebook {
  // background-color: #337ab7;
  text-align: center;
  display: table;
  margin: 10px auto;
  .btn {
    text-transform: none;
    letter-spacing: normal;
  }
}
