<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="ToDoApp">
    <div class="header">
      <div class="row">
        <div class="account-menu">
          <a class="pull-right" href="#/about">My account</a>
        </div>
      </div>

      <div class="row">
        <div class="branding">
          <h1 class="text-center">SIMPLE TODO LISTS</h1>
          <h2 class="text-center">FOR RUBY GARAGE</h2>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </body>
</html>
